language: cpp

addons:
  apt:
    sources:
      - george-edison55-precise-backports
     #- google-chrome
    packages:
      - cmake
      - cmake-data
      - lcov
     #- google-chrome-stable

cache:
  - apt

script:
- cmake -H. -B_build -DCMAKE_INSTALL_PREFIX=_install -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DCMAKE_BUILD_TYPE=Coverage -DCPACK_GENERATOR="TGZ"
- cmake --build _build
- cmake --build _build --target install
- cmake --build _build --target test -- ARGS=--verbose
- cmake --build _build --target unit_tests_coverage
#- cmake --build _build --target package

branches:
 only:
 #- master - do slivania branchei dev v master
 - crossdevelop

before_deploy:
      # Set up git user name and tag this commit
      - git config --local user.name "geminishkv"
      - git config --local user.email "gshkvbmstu@gmail.com"
      - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"

deploy:
  provider: releases
  api_key: "67d4ad69298447307c2dbe1dc61ef78f8a224352"
  file: _build/*.tar.gz
  skip_cleanup: true
  on:
    tags: true


# can use gitlub how4alternative
