Package: libprint-dev
Version: 0.1.1
Section: devel
Priority: optional
Architecture: amd64
Homepage: https://geminishkv.github.io/lab07
Pre-Depends: cmake >= 3.0
Installed-Size: 22560
Maintainer: gshkvbmstu@gmail.com
Description: static c++ library for printing

